Repository CPacca75/PACC_Chat, changes with the labels that .github/labeler.yml gives for each.
All labels: webapp, webapi, deployment, documentation, github actions

.github/labeler.yml:

# Add 'webapp' label to any change within the 'webapp' directory
webapp:
  - webapp/**/*

# Add 'webapi' label to any change within the 'webapi' directory
webapi:
  - webapi/**/*

# Add 'deployment' label to any change within the 'deploy' directory
deployment:
  - deploy/**/*

# Add 'documentation' label to any change of '.md' files
documentation:
  - '**/*.md'

# Add 'github actions' label to any change within the '.github/workflows' directory
'github actions':
  - .github/workflows/**/*

Added Infra folder
  infra/test
Labels: none

Move Dockerfiles
  infra/max-copilote-aks-cluster-config.yaml
  memorypipeline/Dockerfile
  plugins/web-searcher/Dockerfile
  webapi/Dockerfile
  webapp/Dockerfile
Labels: webapp, webapi

Delete test file
  infra/deploy.yaml
  infra/max-copilot-aks-cluster-config.yaml
  infra/test
  scripts/kubernetes.azcli
Labels: none

Docker Compose setup
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  docker/docker-compose.yaml
  docker/memorypipeline/Dockerfile
  docker/plugins/web-searcher/Dockerfile
  docker/webapi/Dockerfile
  docker/webapp/Dockerfile
  memorypipeline/appsettings.json
  plugins/web-searcher/local.settings.json
  webapi/appsettings.json
Labels: webapi

Update Docker images and configurations
  .vscode/launch.json
  docker/docker-compose-nodependson.yaml
  docker/max-copilot-webapi-deployment.yaml
  docker/max-copilot-webapi-service.yaml
  docker/max-copilot-webapp-nginx-deployment.yaml
  docker/max-copilot-webapp-nginx-service.yaml
  docker/plugins-web-searcher--env-configmap.yaml
  docker/qdrant-deployment.yaml
  docker/qdrant-service.yaml
  docker/rabbitmq-deployment.yaml
  docker/rabbitmq-service.yaml
  docker/web-searcher-deployment.yaml
  docker/web-searcher-service.yaml
  docker/webapi--env-configmap.yaml
  scripts/docker.azcli
  scripts/kubernetes.azcli
  webapi/appsettings.json
Labels: webapi

Fix bug in login functionality
  scripts/deploy/tmx-deploy-app.ps1
  scripts/deploy/tmx-deploy-webapi.ps1
  scripts/deploy/tmx-deploy.ps1
Labels: none

Fix bug in login functionality
  scripts/deploy/deploy-webapi.ps1
  scripts/deploy/tmx-deploy-webapi.ps1
Labels: none
